server {
    listen 80;
    listen [::]:80;
    server_name ${SERVER_NAME} api.${SERVER_NAME} admin.${SERVER_NAME};

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}